<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">One Single Wine Chosen</h5>
  
         <div class="newClientInput">
            Client Name:<br>
            <input type="text" id="clientName" value="">
            <br>
            Primary Contact:<br>
            <input type="text" id="primaryContact" value="">
            <br>
            Phone Number:<br>
            <input type="text" id="phoneNumber" value="">
            <br>
            E-mail Address:<br>
            <input type="text" id="emailAddress" value="">
            <br>
     
            <input type="submit" value="Submit" id="newClientSubmit">
          </div>

          Notes: :add a notes connection here...


 

            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
