<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">All Customers</h5>
     
     
     
     {{#each customer}}
       
            <hr>
          <p>
            <strong>Client Name</strong>: {{clientName}}</p>
          
  

     {{/each}}

            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>




{{!-- looking to mimic other files... trying to get JUST the list of customers to return so I can populate the dropdown menu --}}