{{!-- client notes area --}}
<div class="input-group">
  <div class="input-group-prepend">
    <span>
    <span class="input-group-text">Client Notes   
     <br> <button id="updateNotes">update</button>
      </span>
    </span>
  </div>
  <textarea id="clientNotes" class="form-control" aria-label="Client Notes"></textarea>
</div>
<hr>

{{!-- Add a new wine to the Orders table --}}
<div id="newSalesOrder">
  Account Name<br>
  <input type="text" id="salesAccountName" value="">
  <br>
  Vintage:<br>
  <input type="text" id="salesVintage" value="">
  <br>
  Varietal dropdown:<br>
  <select id="salesVarietalDropdown">
    <option selected> Select ...</option>
    <option data-name="Sauvignon Blanc">Sauvignon Blanc</option>
    <option data-name="Chardonnay">Chardonnay</option>
    <option data-name="Pinot Noir">Pinot Noir</option>
    <option data-name="Red Blend">Red Blend</option>
    <option data-name="Zinfandel">Zinfandel</option>
    <option data-name="Merlot">Merlot</option>
    <option data-name="Cabernet">Cabernet</option>
  </select>
  <br>
  Quantity:<br>
  <input type="text" id="salesQuantity" value="">
  <br>
  Ordered Actual or promised toggle:<br>
  <select id="actualPromise">
    <option data-name="actualOrderd">Actual</option>
    <option data-name="promised">Promised</option>

  </select>
  <br>
</div>
<button id="addNewSale">Add Sale</button>

<hr>


{{!-- Add a new wine to the Orders table --}}
<div id="newWineInput">
  Account Name:<br>
  <input type="text" id="newAccountName" value="">
  <br>
  Vintage:<br>
  <input type="text" id="newVintage" value="">
  <br>
   Varietal:<br>
  <select class="varietalDropdown" id="varietalDropdown">
    <option selected> Select ...</option>
    <option data-name="Sauvignon Blanc">Sauvignon Blanc</option>
    <option data-name="Chardonnay">Chardonnay</option>
    <option data-name="Pinot Noir">Pinot Noir</option>
    <option data-name="Red Blend">Red Blend</option>
    <option data-name="Zinfandel">Zinfandel</option>
    <option data-name="Merlot">Merlot</option>
    <option data-name="Cabernet">Cabernet</option>
  </select>
  <br>
  Ordered:<br>
  <input type="text" id="quantOrdered" value="">
  <br>
  Promised:<br>
  <input type="text" id="quantPromised" value="">
  <br>
  {{!-- Box Type:<br>
  <input type="text" id="newBoxType" value="">
  <br> --}}
</div>
<button id="addNewWine">add new wine</button>

<hr>

{{!-- choose customer dropdown --}}
<div class="jumbotron">
  <h1><span class="customerName">Choose Customer</span></h1> <br>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="customerNames">Clients</label>
    </div>
    <select class="custom-select" id="customerNames">

      <option selected> Select ...</option>

    </select>
  </div>

</div>
<hr>

<div class="card">
  <div class="card-header">
    Customer Contact Information
  </div>
  <div class="card-body" id="contactCard">
    <h5 class="card-title">customer name here</h5>
    <strong>Name:</strong> <span class="card-text" id="customerName"></span><br>
    <strong>Primary Contact:</strong> <span class="card-text" id="primaryContact"></span><br>
    <strong>Phone Number:</strong> <span class="card-text" id="phoneNumber"></span><br>
    <strong>E-mail:</strong> <span class="card-text" id="email"></span><br>
    <strong>Address:</strong><br>
    <span class="card-text" id="address"></span>

  </div>
</div>
<hr>

{{!-- new customer display that shows/hides --}}
<button id="addNewCustomer" data-val="off">Add New Customer</button>

<div id="newClientInput" style="display:none;">
  Client Name:<br>
  <input type="text" id="clientName" value="">
  <br>
  Primary Contact:<br>
  <input type="text" id="primContact" value="">
  <br>
  Phone Number:<br>
  <input type="text" id="phNumber" value="">
  <br>
  E-mail Address:<br>
  <input type="text" id="emailAddress" value="">
  <br>
  Street:<br>
  <input type="text" id="street" value="">
  <br>
  City:<br>
  <input type="text" id="city" value="">
  <br>
  State:<br>
  <input type="text" id="state" value="">
  <br>
  Zip Code:<br>
  <input type="text" id="zipCode" value="">
  <br>
  <input type="submit" value="Submit" id="newClientSubmit">
  <button id="nevermind">Nevermind!</button>
</div>
<hr>


{{!-- Display table for viewing wine inventory --}}
<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Vintage</th>
      <th scope="col">Varietal</th>
      <th scope="col">Actual Ordered</th>
      <th scope="col">Promised</th>
      <th scope="col">Box Type</th>

    </tr>
  </thead>
  <tbody id="clientWines">

  </tbody>
</table>

<script src="./js/customerView.js"></script>

<a href="/">← Back To Home</a>