
<div id="tester" style="width:600px;height:250px;"></div>

<div id="myDiv" style="width:600px;height:250px;"></div>

{{#each results}}
{{accountName}}
{{/each}}
<a href="./mainInventory">Main inventory</a>
<script src="./js/homepage.js"></script>