 <div class="jumbotron">
    <h1><span class="customerName">customer name dynamically here from dropdown/table</span></h1> <br>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Customer Name</label>
      </div>
      <select class="custom-select" id="inputGroupSelect01">
        <option selected>Select from dropdown...</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>


    <hr class="my-4">
    <p>Select from the options below a varietal, vintage, and either actual or shadow</p><br>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Varietal</label>
      </div>
      <select class="custom-select" id="inputGroupSelect01">
        <option selected>Varietal</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Vintage</label>
      </div>
      <select class="custom-select" id="inputGroupSelect01">
        <option selected>Select from dropdown...</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Actual or Shadow</label>
      </div>
      <select class="custom-select" id="inputGroupSelect01">
  
        <option value="actual">Actual</option>
        <option value="shadow">Shadow</option>

      </select>
    </div>


    <a class="btn btn-primary btn-lg" href="#" role="button">All Current Inventory</a>
    <a class="btn btn-primary btn-lg" href="#" role="button">All Shadow Inventory</a>
 
  </div>


<button id="testing">testing</button>
  <div class="jumbotron">
    <h1><span class="customerName">customer name dynamically here from dropdown/table</span></h1> <br>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="customerNames">Customer Name</label>
      </div>
      <select class="custom-select" id="customerNames">
        {{!-- can I use jquery here to populate the dropdown menu with proper info from the database? --}}
        <option selected>Select from dropdown...</option>


        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>

  </div>

  <script>
    $(document).ready(function () {
$("#testing").on("click", function(){

      $.ajax({
        type: 'GET',
        url: 'http://localhost:3000/api/allCustomers',

        success: function (data) {
          console.log("data: ", data);
          console.log("You successfully received data back")
          for (i = 0; i < data.length; i++){
            console.log(data[i].clientName)
            console.log("are we getting here?")
          }
         
        }
      });
})
});

  </script>