<button id="testing">testing</button>
<div class="jumbotron">
  <h1><span class="customerName">Choose Customer</span></h1> <br>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="customerNames">Customer Name</label>
    </div>
    <select class="custom-select" id="customerNames">
 
      <option selected>Select from dropdown...</option>

    </select>
  </div>

</div>

<script>
  $(document).ready(function () {
  
      $.ajax({
        type: 'GET',
        url: 'http://localhost:3000/api/allCustomers',

        success: function (data) {
          for (i = 0; i < data.length; i++) {
            console.log(data[i].clientName)
            var custName = data[i].clientName;
            var dropOption = "<option value=" + custName + ">" + custName + "</option>";

            $("#customerNames").append(dropOption)
          }

        }
      });
    });

</script>