<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">All Inventory</h5>
  {{#each results}}
          <p>
            <strong>Wine:</strong>: {{item}}</p>
          <p>
            <strong>Actual Inventory:</strong> {{actualInventory}}</p>
          <p>
            <strong>Shadow Inventory:</strong> {{shadowInventory}}</p>

          <hr>

 {{/each}}

            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>


