<div id="newWineInput">

  Vintage:<br>
  <input type="text" id="newVintage" value="">
  <br>
  Varietal:<br>
  <input type="text" id="newVarietal" value="">
  <br>
  Current Inventory:<br>
  <input type="text" id="currentInventory" value="">
  <br>
  Shadow Inventory:<br>
  <input type="text" id="shadowInventory" value="">
  <br>
  Box Type:<br>
  <input type="text" id="newBoxType" value="">
  <br>
</div><button id="addNewWine">
  Add Wine
</button>


<div class="jumbotron">
  <h1><span class="customerName">View By</span></h1> <br>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="customerNames">Client</label>
    </div>
    <select class="custom-select" id="customerNames">

      <option selected> Select ...</option>

    </select>
  </div>


  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="wineVarietal">Varietal</label>
    </div>
    <select class="custom-select wine" id="wineVarietal">

      <option selected> Select ...</option>
      <option data-name="allWarehouse">All Warehouse Wines</option>
      <option data-name="Sauvignon Blanc">Sauvignon Blanc</option>
      <option data-name="Chardonnay">Chardonnay</option>
      <option data-name="Pinot Noir">Pinot Noir</option>
      <option data-name="Red Blend">Red Blend</option>
      <option data-name="Zinfandel">Zinfandel</option>
      <option data-name="Merlot">Merlot</option>
      <option data-name="Cabernet">Cabernet</option>
    </select>
  </div>




</div>
<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Brand</th>
      <th scope="col">Vintage</th>
      <th scope="col">Varietal</th>
      <th scope="col">Current Inventory</th>
      <th scope="col">Shadow Inventory</th>
      <th scope="col">Total Ordered</th>
      <th scope="col">Box Type</th>
    </tr>
  </thead>
  <tbody id="singleVarietalTable">


  </tbody>
</table>

<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">All Inventory</h5>





          <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  $(document).ready(function () {
    // populates the table on load
    mainInventory();

    //populates the customer dropdown
    $.ajax({
      type: 'GET',
      url: 'http://localhost:3000/api/orders',

      success: function (data) {
        for (i = 0; i < data.length; i++) {
          var custName = data[i].accountName;
          var dropOption = "<option id=" + custName + ">" + custName + "</option>";

          $("#customerNames").append(dropOption)
        }

      }
    });
    //____________________________________________




  })

  //add a new client
  $("#addNewWine").on("click", function (event) {
    event.preventDefault();
    var newVintage = $("#newVintage").val();
    var newVarietal = $("#newVarietal").val();
    var currentInventory = $("#currentInventory").val();
    var shadowInventory = $("#shadowInventory").val();
    var boxType = $("#newBoxType").val();
    console.log("box Type: ", boxType)

    var newWineInfo = {
      "vintage": newVintage,
      "varietal": newVarietal,
      "actualInventory": currentInventory,
      "shadowInventory": shadowInventory,
      "boxType": boxType
    }
    $.ajax({
      type: 'POST',
      url: 'http://localhost:3000/api/newWine',
      data: newWineInfo,
      success: function (data) {
        console.log("You've successfully added a wine")
        $("#newVintage").val("");
        $("#newVarietal").val("");
        $("#currentInventory").val("");
        $("#shadowInventory").val("");
        $("#newBoxType").val("");
      }

    });

  });
  //____________________________________________

  // auto displays main inventory... set in function so we can override?
  function mainInventory() {

    $.ajax({
      type: 'GET',
      url: "http://localhost:3000/api/maininventory",
      success: function (data) {
        $("#singleVarietalTable").empty();
        for (let i = 0; i < data.length; i++) {
          var itemID = (data[i].id)
          var vintage = (data[i].vintage)
          var varietal = (data[i].varietal)
          var actualInventory = (data[i].actualInventory)
          var shadowInventory = (data[i].shadowInventory)
          var boxType = (data[i].boxType)

          var tr = $("<tr>")
          var th = $("<th scope='row'></th>")
          var wHouse = $("<td>Warehouse</td>")
          var ordered = $("<td> -- </td>")
          var vint = $("<td>" + vintage + "</td>")
          var kind = $("<td>" + varietal + "</td>")
          var actual = $("<td>" + actualInventory + "</td>")
          var shadow = $("<td>" + shadowInventory + "</td>")
          var boxtype = $("<td>" + boxType + "</td>")

          vint.attr("data-id", itemID);
          kind.attr("data-id", itemID);
          actual.attr("data-id", itemID);
          shadow.attr("data-id", itemID);
          boxtype.attr("data-id", itemID);


          tr.append(wHouse, vint, kind, actual, shadow, ordered, boxtype)

          $("#singleVarietalTable").append(tr)
        }
      }

    })
  }
  //____________________________________________

  //grabbing all info for a specific wine that is chosen from dropdown menu.
  $("#wineVarietal").change(function () {
    var varietalType = $("select.custom-select.wine").find(':selected').data('name');
    console.log("Varietal selected: ", varietalType)

    if (varietalType === "allWarehouse") {
      mainInventory()
    } else {
      individualWines()
    };

    //call and get specific wine from warehouse : populate table
    function individualWines() {

      $.ajax({
        type: 'GET',
        url: "http://localhost:3000/api/oneVarietal/" + varietalType + "",
        success: function (data) {
          console.log("You are getting the info back")
          $("#singleVarietalTable").empty();
          for (let i = 0; i < data.length; i++) {
            var itemID = (data[i].id)
            var vintage = (data[i].vintage)
            console.log("vintage: ", vintage)
            var varietal = (data[i].varietal)
            var actualInventory = (data[i].actualInventory)
            var shadowInventory = (data[i].shadowInventory)
            var boxType = (data[i].boxType)

            var tr = $("<tr>")
            var th = $("<th scope='row'></th>")
            var ordered = $("<td> -- </td>")
            var wHouse = $("<td>Warehouse</td>")
            var vint = $("<td>" + vintage + "</td>")
            var kind = $("<td>" + varietal + "</td>")
            var actual = $("<td>" + actualInventory + "</td>")
            var shadow = $("<td>" + shadowInventory + "</td>")
            var boxtype = $("<td>" + boxType + "</td>")

            vint.attr("data-id", itemID);
            kind.attr("data-id", itemID);
            actual.attr("data-id", itemID);
            shadow.attr("data-id", itemID);
            boxtype.attr("data-id", itemID);

            tr.append(wHouse, vint, kind, actual, shadow, ordered, boxtype)

            $("#singleVarietalTable").append(tr)
          }

        }

      })
      //call and get specific wine from each customer: populate table
      $.ajax({
        type: 'GET',
        url: "http://localhost:3000/api/orders/" + varietalType + "",
        success: function (data) {
          console.log("You are getting the customer info back")
          console.log("custom data: ", data)

          for (let i = 0; i < data.length; i++) {
            var itemID = (data[i].id)
            var labelName = (data[i].accountName)
            console.log("labelName: ", labelName)
            var vintage = (data[i].vintage)
            var varietal = (data[i].varietal)
            var actualInventory = (data[i].actualOrdered)
            var shadowInventory = (data[i].promised)
            var boxType = (data[i].boxType)

            var tr = $("<tr>")
            var th = $("<th scope='row'></th>")
            var wHouse = $("<td>Warehouse</td>")
            var ordered = $("<td> -- </td>")
            var labName = $("<td>" + labelName + "</td>")
            var vint = $("<td>" + vintage + "</td>")
            var kind = $("<td>" + varietal + "</td>")
            var actual = $("<td>" + actualInventory + "</td>")
            var shadow = $("<td>" + shadowInventory + "</td>")
            var boxtype = $("<td>" + boxType + "</td>")

            vint.attr("data-id", itemID);
            kind.attr("data-id", itemID);
            actual.attr("data-id", itemID);
            shadow.attr("data-id", itemID);
            boxtype.attr("data-id", itemID);

            tr.append(labName, vint, kind, actual, shadow, ordered, boxtype)

            $("#singleVarietalTable").append(tr)
          }
        }

      })
    }

  });
     //____________________________________________


</script>