{{!------------------------ VARIETAL SELECTION SECTION --------------------------}}


{{!-- <h1 class="add-wine-label"><span class="add-wine-label sec">Select by Varietal</span></h1> <br> --}}
<br>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <label class="input-group-text" for="wineVarietal">Varietal</label>
  </div>
  <select class="custom-select wine" id="wineVarietal">

    <option selected> Select ...</option>
    <option data-name="allWarehouse">All Warehouse Wines</option>
    <option data-name="Sauvignon Blanc">Sauvignon Blanc</option>
    <option data-name="Chardonnay">Chardonnay</option>
    <option data-name="Pinot Noir">Pinot Noir</option>
    <option data-name="Red Blend">Red Blend</option>
    <option data-name="Zinfandel">Zinfandel</option>
    <option data-name="Merlot">Merlot</option>
    <option data-name="Cabernet">Cabernet</option>
  </select>
</div>

<!-- Button trigger modal -->
<button type="button" class="boxShadow  btn btn-primary" data-toggle="modal" data-target="#newWineInput">
  Add Wine To Warehouse Inventory
</button>

<!-- Modal -->
<div class="modal fade" id="newWineInput" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Inventory To The Warehouse</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="vintage wi">
          Vintage:<br>
          <input type="text" id="newVintage" value="">
        </div>

        <div class="varietal wi">
          Varietal:<br>
          <select id="newVarietal">

            <option selected> Select ...</option>
            <option data-name="Sauvignon Blanc">Sauvignon Blanc</option>
            <option data-name="Chardonnay">Chardonnay</option>
            <option data-name="Pinot Noir">Pinot Noir</option>
            <option data-name="Red Blend">Red Blend</option>
            <option data-name="Zinfandel">Zinfandel</option>
            <option data-name="Merlot">Merlot</option>
            <option data-name="Cabernet">Cabernet</option>
          </select>
        </div>

        <div class="current-inventory wi">
          Current Inventory:<br>
          <input type="text" id="currentInventory" value="0">
        </div>

        <div class="shadow-inventory wi">
          Shadow Inventory:<br>
          <input type="text" id="shadowInventory" value="0">
        </div>

        <div class="box-type wi">
          Box Type:<br>
          <select id="boxType">
            <option selected> Select ...</option>
            <option data-name="WRU">WRU</option>
            <option data-name="WRT">WRT</option>
            <option data-name="WBAJA">WBAJA</option>

          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" id="addNewWine" class="btn btn-primary" data-dismiss="modal">Add Wine</button>
      </div>
    </div>
  </div>
</div>

{{!----------------- MAIN INVENTORY TABLE ----------------------}}

<div class="table-label">Main Inventory</div>

</div>
<table class="boxShadow table table-striped table-dark main-inventory-table">
  <thead>
    <tr>
      <th scope="col">Brand</th>
      <th scope="col">Vintage</th>
      <th scope="col">Varietal</th>
      <th scope="col">Current Inventory</th>
      <th scope="col">Shadow Inventory</th>
      {{!-- <th scope="col">Total Ordered</th> --}}
      <th scope="col">Box Type</th>
    </tr>
  </thead>
  <tbody id="mainInventoryTable">


  </tbody>
</table>
<br><br>

<hr>

{{!---------------------------------- Boxes Table --------------------------------------------}}
<div class="row"><br><br>
  <div class="col-3">
    <!-- Button trigger modal -->
    <br><br>
    <button type="button" id="boxBtn" class="boxShadow btn btn-primary" data-toggle="modal"
      data-target="#boxTableDisplay">
      Add Boxes To Inventory
    </button>

    <!-- Modal -->
    <div class="modal fade" id="boxTableDisplay" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add Boxes To Inventory</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="wi spec">
              Box Type:<br>
              <select class="boxDrop" id="addNewBoxes">
                <option selected> Select ...</option>
                <option data-name="WRU">WRU</option>
                <option data-name="WRT">WRT</option>
                <option data-name="WBAJA">WBAJA</option>
              </select>
              <div class="wi">
                Quantity:<br>
                <input type="text" id="boxQuantity" value="">
              </div>



            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" id="additionalBoxes" class="btn btn-primary" data-dismiss="modal">Add Boxes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="table-label">Box Inventory</div>
    <table class="boxShadow table table-striped table-dark box-table">
      <thead>
        <tr>
          <th scope="col">Box Type</th>
          <th scope="col">Remaining</th>

        </tr>
      </thead>
      <tbody id="mainBoxes">


      </tbody>
    </table>

  </div>
  <div class="col-3"></div>
</div>
<br><br>
<hr>



{{!----------------------------------- Modal for actual inventory changes ----------------------------}}

<div id="addValue-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Change Inventory Value</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Enter new inventory value.</p>
        <input type="text" class="newValue" value="">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" id="submit-inventory" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<script src="./js/mainInventory.js"></script>