<div class="jumbotron">
  <h1><span class="customerName">View By</span></h1> <br>

  {{!-- <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="customerNames">Client</label>
    </div>
    <select class="custom-select" id="customerNames">

      <option selected> Select ...</option>

    </select>
  </div> --}}


  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="wineVarietal">Varietal</label>
    </div>
    <select class="custom-select wine" id="wineVarietal">

      <option selected> Select ...</option>
      <option data-name="allWarehouse">All Warehouse Wines</option>
      <option data-name="Sauvignon Blanc">Sauvignon Blanc</option>
      <option data-name="Chardonnay">Chardonnay</option>
      <option data-name="Pinot Noir">Pinot Noir</option>
      <option data-name="Red Blend">Red Blend</option>
      <option data-name="Zinfandel">Zinfandel</option>
      <option data-name="Merlot">Merlot</option>
      <option data-name="Cabernet">Cabernet</option>
    </select>
  </div>




</div>
<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Brand</th>
      <th scope="col">Vintage</th>
      <th scope="col">Varietal</th>
      <th scope="col">Current Inventory</th>
      <th scope="col">Shadow Inventory</th>
      <th scope="col">Total Ordered</th>
      <th scope="col">Box Type</th>
    </tr>
  </thead>
  <tbody id="mainInventoryTable">


  </tbody>
</table>


{{!-- "update boxes" input field --}}
Add additional boxes to inventory<br>
<select id="addNewBoxes">
  <option selected> Select ...</option>
  <option data-name="WRU">WRU</option>
  <option data-name="WRT">WRT</option>
  <option data-name="WBAJA">WBAJA</option>

</select>
Quantity:<br>
<input type="text" id="boxQuantity" value="">
<br>
<button id="additionalBoxes">
  Add boxes to inventory
</button>
<hr>

{{!-- 'Add new wine' input fields --}}
<div id="newWineInput">

  Vintage:<br>
  <input type="text" id="newVintage" value="">
  <br>
  Varietal:<br>
  <select id="newVarietal">

    <option selected> Select ...</option>
    <option data-name="Sauvignon Blanc">Sauvignon Blanc</option>
    <option data-name="Chardonnay">Chardonnay</option>
    <option data-name="Pinot Noir">Pinot Noir</option>
    <option data-name="Red Blend">Red Blend</option>
    <option data-name="Zinfandel">Zinfandel</option>
    <option data-name="Merlot">Merlot</option>
    <option data-name="Cabernet">Cabernet</option>
  </select>
  <br>
  Current Inventory:<br>
  <input type="text" id="currentInventory" value="0">
  <br>
  Shadow Inventory:<br>
  <input type="text" id="shadowInventory" value="0">
  <br>
  Box Type:<br>
  <select id="boxType">
    <option selected> Select ...</option>
    <option data-name="WRU">WRU</option>
    <option data-name="WRT">WRT</option>
    <option data-name="WBAJA">WBAJA</option>

  </select>
  <br>
</div>
<button id="addNewWine">
  Add Wine
</button>
<hr>


{{!-- ------------------------------------ --}}

<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">All Inventory</h5>





          <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>


<script src="./js/mainInventory.js"></script>