<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">All Shadow Wines</h5>
     
     
     
     {{#each shadow}}
       
            <hr>
          <p>
            <strong>{{wine}}</strong> </p>
          {{!-- <p>
            <strong>Actual Inventory:</strong> {{actualInventory}}</p> --}}
          <p>
            <strong>Shadow Inventory:</strong> {{shadowInventory}}</p>
          <p>
   
        

     {{/each}}



            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
