body {
  background-color: #e9ecef;
}

hr {
  width: 100%;
  margin: 0px;
  border: none;
  height: 7px;
  background-color: #eee;
  color: #eee;
}

hr {
  height: 0px;
  border: none;
  border-top: 1px solid grey;
}

.list-group-item {
  line-height: 2.5;
}

/************************** Header and Nav ************************/
.title {
  height: 150px;
  width: 300px;
  background-color: rgb(164, 30, 30);
  display: inline-block;
  font-size: 50px;
  text-align: center;
  vertical-align: middle;
  line-height: 150px;
}

.nav {
  display: inline-block;
  width: 900px;
  /* margin: 0px; */
  text-align: center;
}

.nav-container {
  text-align: center;
  display: inline-block;
  margin: auto;
  
}

ul.nav {
  margin: auto;
  width: 900px;
}

li.nav-item {
  display: inline-block;
}

.nav-link {
  font-size: 20px;
  color: rgb(164, 30, 30);
}

/************************Table Area **************************************/

.main-inventory-table {
  width: 95%;
  margin: auto;
}

.table-label {
  font-size: 50px;
  margin-top: 100px;
  margin-bottom: 20px;
  text-align: center;
}

.changeValue {
  margin-left: 40px;
}

/*******************************Input Area *********************************/


.sec {
  text-align: center;
  font-size: 24px;
  margin-top: 80px;
  text-decoration: underline;
}

input {
  margin-top: 5px;
}

select {
  margin-top: 5px;
}
/***Select Varietal ******/

div.jumbotron {
  padding: 0;
  text-align: center;
}

.mb-3 {
  width: 60%;
  text-align: center;
  /* margin-left: 300px; */
  margin: auto;
}

/*** Add New Wine ***/

.add-wine-label {
  margin: auto;
  display: block;
  margin-top: 70px;
  margin-bottom: 50px;
}

.wi {
  height: 60px;
}

#newWineInput {
  text-align: center;
}

#addNewWine {
  position: relative;
  left: 300px;
  bottom: 180px;
}

/***Boxes Table****/

.box-table {
  width: 500px;
  margin: auto;
  margin-bottom: 80px;
  margin-top: 60px;
}

/***Boxes Inputs *****/

.box-inputs {
  text-align: center;
  margin-bottom: 60px;
}

#additionalBoxes {
  position: relative;
  left: 300px;
  bottom: 120px;
}

.spec {
  margin-bottom: 30px;
}


/**********************Customer View Page*********************************/

/*****Select Customer*****/

.customer-select {
  margin-bottom: 100px;
}

/*******Add New Customer*******/

.add-cust {
  margin-top: 50px;
  margin-bottom: 50px;
}

#addNewCustomer {
  height: 50px;
}

.plus {
  font-size: 50px;
  position: relative;
  top: 10px;
  color:rgb(164, 30, 30);
}

/*****Customer Info and Notes*****/

.customer-info {
  /* height: 400px; */
  text-align: center;
}

.client-notes {
  /* text-align: center; */
  display: inline-block;
  /* margin-left: 200px;
  margin-top: 50px; */
  
}

.client-card {
  /* width: 500px;
  height: 200px; */
  display: inline-block;
  
}

.notes {
  font-size: 24px;
  text-decoration: underline;
  /* margin-bottom: 20px; */
}

#clientNotes {
  width: 500px;
  /* display: block;
  margin: auto; */
  height: 200px;
}

/*******Customer Page Tables******/

.new-table {
  width: 95%;
  margin: auto;
}

/*****Add New Wine Order*********/

#newSalesOrder {
  text-align: center;
}

#addNewSale {
  position: relative;
  bottom: 220px;
  left: 300px;
}

/*********Add a New Wine to Account Section *********/

#newWineInput {
  margin-bottom: 100px;
}