body {
  background-color: #d8d8d8;
}

hr {
  width: 100%;
  margin: 0px;
  border: none;
  height: 7px;
  background-color: #eee;
  color: #eee;
}

hr {
  height: 0px;
  border: none;
  border-top: 1px solid grey;
}

/************************** Header and Nav ************************/
  .navbar-brand.title{
    border-radius: 3%;
    border: 3px gray solid;
    border-style: ridge;
  }
  .list-group-item {
    line-height: 2.5;
  }

  .title {
  height: 10%;
  width: 30%;
  background-color: rgb(164, 30, 30);
  display: inline-block;
  font-size: 3em;
  text-align: center;
  vertical-align: middle;
  /* line-height: 150px; */
}

/* .nav {
  display: inline-block;
  width:100%;
  /* margin: 0px; */
  /* text-align: center; */
/* } */

.nav-container {
  text-align: center;
  display: inline-block;
  margin: auto;
  
}

/* ul.nav {
  margin: auto;
  width: 900px;
}

li.nav-item {
  display: inline-block;
} */

.nav-link {
  font-size: 20px;
  color: rgb(164, 30, 30);
}

/************************Sales Chard Display Area **************************************/
#myDiv{
  margin: 10% 20%;
  text-align: center;
  display: inline-block;
  margin: auto;
  
}


/************************Table Area **************************************/

.main-inventory-table {
  width: 70%;
  margin: auto;
}

.table-label {
  font-size: 3em;
  /* margin-top: 100px; */
  margin-bottom: 1%;
  text-align: center;
}

.changeValue {
  margin-left: 40px;
}

/*******************************Input Area *********************************/


.sec {
  text-align: center;
  font-size: 24px;
  margin-top: 80px;
  text-decoration: underline;
}

input {
  margin-top: 5px;
}

select {
  margin-top: 5px;
}
/***Select Varietal ******/

div.jumbotron {
  padding: 0;
  text-align: center;
}
.btn.btn-primary {
  margin:0% 2%;
}
.mb-3 {
  width: 25%;
  /* text-align: left; */ 
  margin-left: 3%;
  /* margin: auto; */
}

/*** Add New Wine ***/

.add-wine-label {
  /* margin: auto; */
  display: block;
margin-bottom: 1%;
}

/* .wi {
  height: 60px;
} */

/* #newWineInput {
  text-align: center;
} */
/* 
#addNewWine {
  position: relative;
  left: 300px;
  bottom: 180px;
} */

/***Boxes Table****/
table.table-striped.table-dark.new-table {
  width: 70%;
}

table.table-striped.table-dark.box-table {
  margin:0% 1%;
  margin: auto;
  width: 50%
}
#boxBtn {
  margin-left:9%;
}
/* 
.box-table {
  width: 500px;
  margin: auto;
  margin-bottom: 80px;
  margin-top: 60px;
} */

/***Boxes Inputs *****/

.box-inputs {
  text-align: center;
  margin-bottom: 60px;
}

/* #additionalBoxes {
  position: relative;
  left: 300px;
  bottom: 120px;
} */
/* 
.spec {
  margin-bottom: 30px;
} */


/**********************Customer View Page*********************************/

/*****Select Customer*****/

/* .customer-select {
  margin-bottom: 100px;
} */

/*******Add New Customer*******/

/* .add-cust {
margin: 5% 0%;
} */

#addNewCustomer {
  height: 50px;
}

.plus {
  font-size: 50px;
  position: relative;
  top: 10px;
  color:rgb(164, 30, 30);
}

/*****Customer Info and Notes*****/

.customer-info {
 
  text-align: center;
}

#clientNotes.form-control{

  width: 95%;
}
.client-notes {
  margin-left: 3%;
  width: 100%;
  /* text-align: center; */
  display: inline-block;
  /* margin-left: 200px;
  margin-top: 50px; */
  
}

.client-card {
  width: 90%;
  /* height: 200px; */ 
  /* display: inline-block; */
  
}

.notes {
  width:90%;
  font-size: 24px;
  text-decoration: underline;
  /* margin-bottom: 20px; */
}

#clientNotes {
  width: 500px;
  /* display: block;
  margin: auto; */
  height: 200px;
}

/*******Customer Page Tables******/

.new-table {
  width: 95%;
  margin: auto;
}

/*****Add New Wine Order*********/

#newSalesOrder {
  text-align: center;
}

#addNewSale {
  position: relative;
  bottom: 220px;
  left: 300px;
}

/*********Add a New Wine to Account Section *********/

#newWineInput {
  margin-bottom: 100px;
}